
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgba(243, 180, 73, 0.363);
}


h1#logo_header{
    color: rgb(2, 43, 83);
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}    

header{
    background-color: rgb(244, 145, 15);
    justify-content: space-between;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 100px;
}
ul#lista_header{
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    list-style:none  
}
img#marcozero1{
  margin-left: 28%;
}
section{
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(162, 131, 31, 0.179);
}

h2{
    display: flex;
    justify-content: center;
}
aside ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
    list-style: none;
    margin-top: 100px; 
}
iframe#video_marcozero{
    align-items: center;
    padding-left: 35%;
}
footer{
    background-color: rgb(244, 145, 15);
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px;
   
}
footer nav ul{
    list-style: none;
    gap: 20px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
h2#logo_footer{
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
    padding-left: 30px
}
a:link{
    text-decoration: none;
}
h3#redes_sociais{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}
